/node_modules
*.z64
tools/flipscfg.bin
assets/cache
output/
assets/zzrtl-v1.0.5-win32.exe
assets/flips.exe
assets/oot_build.rtl
assets/oot_dump.rtl
assets/oot_names.tsv
assets/baserom-dec.z64
assets/build-yaz.z64
assets/build.z64
assets/HMCommunity2022.bps
assets/**/_vanilla-1.0
assets/**/_vanilla-debug
assets/config.tsv
assets/zzrtl.exe
assets/project-1.zzrpl
assets/project-debug.zzrpl
unfinished_stuff/
assets/flipscfg.bin
assets/oot_build.c
